# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller / Nuitka build artifacts
build/
dist/I-ACTIVATE-12+
*.build/
*.dist/

# Local Source Code & Server (Do NOT push to GitHub)
ACTIVATE/
server/
client/
*.py
!install.sh
TECHNICAL_ARCHITECTURE*
*.spec
*.sql
*.plist

# SQLite temporary databases
*.sqlitedb
*.sqlitedb-wal
*.sqlitedb-shm
*.logarchive

# macOS system files
.DS_Store

